*.iml
.gradle
.kotlin
/app/src/release/google-services.json
/app/src/debug/google-services.json
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release
*.jks
*.keystore
!app/src/**/*.keystore
